*~
*.pdf

# MSVC files
*.ilk
*.pdb
*.sdf
*.opensdf
*.suo
*.user
MSVC-proj/Debug

# Tex files
*.aux
*.log
*.toc
*.backup
*.gz

# CMake files
*.cmake
Makefile
CMakeCache.txt
CMakeFiles/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
